body{
    background-color: rgb(26, 25, 25);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar img {
    height: 50px;
    margin-top: 10px;
}

.pup {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    gap: 120px;
    padding: 0 200px;
}


.user {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 6px;
}

.insta-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 6px;
  vertical-align: middle;
  border-radius: 4px; /* optional: makes it softer */
}

.pup img{
    width: 450px;
    height: 450px;
    padding-top: 40px;
}

.heart-container {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.grey-heart{
  background-color: #ccc;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  position: absolute;
  transform: rotate(-45deg);
}

.grey-heart:before,
.grey-heart:after{
  content: "";
  background: #ccc;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
}

.grey-heart:before{
  top: -10px;
  left: 0;
}

.grey-heart:after{
  left: 10px;
  top: 0;
}

.red-heart{
  background-color: red;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  visibility: hidden;
}

.red-heart:before,
.red-heart:after{
  content: "";
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
}

.red-heart:before{
  top: -10px;
  left: 0;
}

.red-heart:after{
  left: 10px;
  top: 0;
}

.red-heart.animation{
  animation: pop 0.9s linear;
  visibility: visible;
}

.red-heart.fill-color{
  background: red;
}

@keyframes pop {
  100% {
    transform: scale(1.7) rotate(-45deg);
    opacity: 0;
  }
}


.post{
  padding: 20px;
  padding-top: 0px;
  background-color: rgb(43, 42, 42);
  border-radius: 15px;
  margin: 15px;
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  padding-top: 20px;
}

.mobile-menu {
  display: none;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.mobile-menu ul li {
  padding: 10px 20px;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
}

.mobile-menu.show {
  display: block;
}

