body{
    background-color: rgb(26, 25, 25);
    color: white;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar img {
    height: 50px;
    margin-top: 10px;
}

.pup{
    display: flex;
    justify-content: space-around;

}

.pup img{
    width: 500px;
    height: 500px;
    padding-top: 40px;
}

.like-btn {
  background: none;
  border: none;
  color: #ed4956;
  font-size: 16px;
  cursor: pointer;
  padding-top: 10px;
}

.post{
    padding: 20px;
    padding-top: 0px;
    background-color: rgb(43, 42, 42);
    border-radius: 15px;
    margin: 15px;
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  padding-top: 20px;
}

.mobile-menu {
  display: none;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.mobile-menu ul li {
  padding: 10px 20px;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
}

.mobile-menu.show {
  display: block;
}

